.img {
    margin-bottom: 2%;
}

.h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #0f394c;
    text-align: center;
    margin-top: 2%;
}

.p {
    text-align: center;
}
